div(style="width:100%; height:100%")
  div(style="padding:8px 4px; border-bottom:1px solid #aa9d93")
    div#details(style="text-align:center; cursor:pointer")
      div#place(style="font-weight:bold") #{place}
      div#address #{address}
      div#date #{date}
  div#map(style="width:100%; height:100%")
    div(style="position:absolute; top:8px; right:8px; z-index:1000")
      select#users
        option(disabled="true") who's where?

//-- UserOption.jade

option(value="#{id}") #{name}

//-- PlaceInfo.jade

div #{place}

//-- NameInfo.jade

div #{name}

//-- PhoneInfo.jade

div(style="margin-top:4px")
  input(type="button", value="Call", style="font-size:10pt", onclick="window.location='tel:#{phone}'")
  input(type="button", value="SMS", style="font-size:10pt", onclick="window.location='sms:#{phone}'")
